body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: myFont, sans-serif;
}

.chat {
    margin: auto;
    background-color: rgb(155, 166, 196);
    font-size: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 10px 10px 50px 1px;
    align-items: flex-end;
    min-width: 80vw;
}


.own {
    margin-left: 50%;
    width: 45%;
    max-width: 44%;
    word-wrap: break-word;
    background-color: rgb(156, 215, 238);
    padding: 1vh;
    border-radius: 1vh;
}

.other {
    width: 45%;
    max-width: 44%;
    word-wrap: break-word;
    background-color: rgb(127, 209, 185);
    padding: 1vh;
    border-radius: 1vh;   
}

.delete {
    margin-left: 50%;
    border-radius: 1px;
    border: none;
    transition: all 200ms;
    transform: translateY(-50%);
    box-shadow: 0px 0px 4px 1px;
}

.delete:hover {
    box-shadow: 0px 0px 10px 1px red;
}

#message {
    margin: auto;
    margin-top: 1vh;
    margin-left: 7vh;
    resize: both;
    width: 80%;   
}

.submit {
    transform: translateY(-80%);
}


@media (orientation: portrait) {
    .refresh {
        transform: translateX(-200% );
    }
}
